.subtitulos-cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 100px;
    font-size: 20px;
    line-height: 30px;
}

.subtitulos-cursos p {
    margin-bottom: 10px;
}

#container-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

#card-cursos {
    width: 550px;
    margin: 50px;
    padding: 50px;
    line-height: 30px;
    text-align: justify;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 6px 6px 0 #fef001;
}

#card-cursos:hover {
    transition: 0.2s;
    transform: scale(1.1); 
}

#card-cursos h3 p {
    color: #000;
}

#card-cursos a {
    border: 1px solid #000;
    border-radius: 2px;
    color: whitesmoke;
    background-color: #000;
}


